
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #444a33;
  color: #d6f29b;
}

.main-box {
  margin: 5% auto;
  width: 90%;
  background: #0e100a;
  border-radius: 30px;
  padding: 20px;
}

h1 {
  font-style: italic;
  font-weight: 500;
}

.inner-box {
  margin-top: 20px;
  width: 100%;
  height: 160px;
  background: #ffffff4d;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.highlight-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 140px;
  background-color: #0e100a;
  opacity: 0.9;
  border-radius: 10px;
  outline: 6px solid #d6f29b;
  animation: blink 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes blink {
  0%, 100% { outline-color: #d6f29b; }
  50% { outline-color: #5A6C34; }
}

.carousel {
  display: flex;
  align-items: center;
  gap: 300px;
  transform: translateX(0);
  transition: transform 0.4s ease;
  padding-left: 1500px;
}

.icon {
  width: 200px;
  height: 100px;
  cursor: pointer;
  filter: brightness(0.8);
}

.icon.active {
  filter: brightness(1.0);
}
@media (max-width: 1060px) {
  .carousel {
    gap: 200px !important;
	padding-left: 1200px;
}
